.input {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0;
  line-height: 100%;
}
.btn {
  padding: 4px 7px;
  border: 1px solid #000;
  background-color: #e9dedef7;
  border-radius: 2px;
  margin: 0 3px;
}
.error{
    color: red;
    font-size: 11px;
}
